@model PagedList.IPagedList<Web1Clone.Models.Category>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("searchString", (string)ViewBag.SearchValue) <input type="submit" value="Search" />  <input type="submit" name="Reset" value="Refesh" />
        @Html.Hidden("page", (object)ViewBag.CurrentPage)
        @Html.Hidden("pageSize", (object)ViewBag.PageSize)
    </p>
}
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
            </td>
        </tr>
    }

</table>

<br />
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
        @using (Html.BeginForm())
        {
            <p>
                Page Size: @Html.DropDownList("pageSize", (List<SelectListItem>)ViewBag.DropDownPageSize, new { @onchange = "this.form.submit();" })
            </p>
            @Html.Hidden("searchString", (object)ViewBag.SearchValue)
            @Html.Hidden("pageSize", (object)ViewBag.PageSize)
            @Html.Hidden("page", (object)ViewBag.CurrentPage)
        }
    </div>
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
        Page: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { searchString = ViewBag.SearchValue, pageSize = ViewBag.PageSize, page = page }))
