@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc

@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header
{
    Quản lý người dùng
}
<div class="card md-10">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Danh sách người dùng</div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-4">
                    <input type="text" value="@ViewBag.SearchValue" name="searchString" />
                </div>
                <div class="col-md-4">
                    <button type="submit">Tìm kiếm</button>
                </div>
            </div>
            <br/>
        }
        <div class="table-responsive">
            <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>DisplayName</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>CreatedDate</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.Address</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.CreatedDate</td>
                            <td>
                                <a href="/Admin/User/Edit/@item.ID">Sửa</a>
                                |
                                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions { Confirm = "Bạn có muốn xóa tài khoản này id =" + item.ID, OnComplete = "$('row_" + item.ID + "').remove()", HttpMethod = "Delete" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, @pageSize = @ViewBag.PageSize, @searchString = @ViewBag.SearchValue }))